{% extends 'blog/base.html' %}
{% load static %}

{% block content %}


 <!-- start section -->
    <section class="Privacy section bg-light">
        <!-- start container -->
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb default mb-0">
                            <li class="breadcrumb-item">
                                <a href="/" class="text-muted">خانه</a>
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">درباره ما</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="inner-heading text-center">
                        <div class="mt-4">
                            <h1 class="fw-bold">درباره ما</h1>
                            <P class="text-muted">متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است<br>که روزنامه و مجله در ستون و سطرآنچنان که لازم</P>
                        </div>
                    </div>

                    <div class="heading-bottom-icon d-flex justify-content-center text-center">
                        <i class="mdi mdi-image-filter-vintage"></i>
                        <i class="mdi mdi-image-filter-vintage mx-2"></i>
                        <i class="mdi mdi-image-filter-vintage"></i>
                    </div>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-lg-12">
                    <div class="privacy-box">
                        <h4 class="fw-bold mt-4">چه زمانی ما اطلاعات رو جمع میکنیم</h4>

                        <p class="text-muted mt-3">این سیاست ها تعیین میکند که اطلاعات اشخاص در هنگام کار با وبسایت “موسسه مهاجران برتر ” کاملا محرمانه و مخفی می ماند. “موسسه مهاجران برتر ” پایبند بر حفظ حریم خصوصی کاربران وبسایت خود می باشد. اگر در هر قسمتی از وبسایت اطلاعاتی درباره ی شما خواسته شود کاملا محفوظ خواهد ماند.

                            <br>
                            این سیاست ها تعیین میکند که اطلاعات اشخاص در هنگام کار با وبسایت “موسسه مهاجران برتر ” کاملا محرمانه و مخفی می ماند. “موسسه مهاجران برتر ” پایبند بر حفظ حریم خصوصی کاربران وبسایت خود می باشد. اگر در هر قسمتی از وبسایت اطلاعاتی درباره ی شما خواسته شود کاملا محفوظ خواهد ماند.
                        </p>


                        <h4 class="fw-bold mt-4">چگونه از اطلاعات شما محافظت می کنیم؟</h4>

                        <p class="text-muted mt-3">ما از این کوکی برای جمع آوری آمار افرادی که از وبسایت ما دیدن میکنند ، تعداد دفعات بازدید آنها،سیستم مورد استفاده ی آنها(ویندوز یا مک،که به ما کمک می کند که تشخیص دهیم در کدام سیستم وبسایت ما به درستی کار نمیکند) زمان استفاده ی آنها از وبسایت،چه صفحاتی را بیشتر بازدید میکنند و غیره.این اطلاعات به پیش رفت خدمات وبسایت ما کمک میکند. همچنین به ما اطلاعاتی در باره ی اینکه کاربران چگونه وارد وبسایت ما شده اند می دهد. این اطلاعات به ما کمک میکند که مخاطبین بیشتری داشته باشیم بدون پرداخت های مضاعق به سازمانهای تبلیغاتی.</p>

                        <h4 class="fw-bold mt-4">قانون حفاظت از حریم خصوصی آنلاین</h4>

                        <p class="text-muted mt-3">این سیاست ها تعیین میکند که اطلاعات اشخاص در هنگام کار با وبسایت “موسسه مهاجران برتر ” کاملا محرمانه و مخفی می ماند. “موسسه مهاجران برتر ” پایبند بر حفظ حریم خصوصی کاربران وبسایت خود می باشد. اگر در هر قسمتی از وبسایت اطلاعاتی درباره ی شما خواسته شود کاملا محفوظ خواهد ماند.
                            - بیشتر ببینید.
                        </p>

                        <h4 class="fw-bold mt-4">گوگل</h4>
                        <p class="text-muted mt-3">
                            گوگل یک شرکت آمریکایی است که تقریبا همه افراد جهان برای یک بار هم که شده نام آن را شنیده اند، هر چند هستند برخی از افراد که هنوز در مورد این شرکت اطلاعاتی ندارند و یا اطلاع ناقصی دارند. ما در این مطلب به شرح کامل این شرکت از جمله تاریخچه، خدمات و سرویس ها و همچنین مهم ترین الگوریتم های آن می پردازیم.</p>

                        <h4 class="fw-bold mt-4">ما از "کوکی ها" استفاده می کنیم؟</h4>

                        <p class="text-muted mt-3">
                            کوکی (Cookie) یک فایل است. فایلی که روی کامپیوتر یا موبایل یا تبلت شما ذخیره می‌شود.
                            برای اینکه چنین فایلی روی کامپیوتر شما ذخیره شود، باید سایتی که در حال بازدید از آن هستید، از مرورگر شما تقاضا کند که چنین فایلی را ایجاد کند.
                            بنابراین می‌توانیم بگوییم کوکی، یکی از ابزارهایی است که در تعامل و گفتگوی بین مرورگر و سایت‌ها استفاده می‌شود.
                            اولین بار شرکت Netscape در سال ۱۹۹۴ در مرورگر خود (Mosaic) از کوکی استفاده کرد و مایکروسافت هم در سال ۱۹۹۵ در مرورگر خود (Internet Explorer) این ابزار را به کار گرفت.
                            امروز تقریباً تمام مرورگرهای مطرح بازار از جمله کروم، فایر فاکس، اینترنت اکسپلورر، Edge و سافاری از کوکی ها پشتیبانی می‌کنند.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- end container -->
    </section>


    <form class="mt-2 ">
                <div class="row justify-content-xxl-end justify-content-center">
                    <div class="col-lg-8">
                        <div class="info-box">
                            <h4 class="fw-bold">اطلاعات حساب<i
                                    class="mdi mdi-information-outline f-30 align-middle"></i></h4>
                            <div class=" mt-4">
                                <div class="mt-4">
                                    <div class="Name">
                                        <div class="d-flex">
                                            <label for="validationDefault03" class="form-label fw-semibold">ایمیل:</label>
                                            <p class="mb-0 f-14 text-muted ms-auto">ایمیل معتبر را وارد کنید * mickel@gmail.com</p>
                                        </div>
                                        <input type="text" class="form-control" id="validationDefault03"
                                            placeholder="ایمیل خود را وارد کنید" required>
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <div class="Name">
                                        <label for="validationDefault001" class="form-label fw-semibold"> موضوع :</label>
                                        <input type="text" class="form-control" id="validationDefault001" placeholder=""
                                            value="" required>
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <div class="Name">
                                        <label for="validationDefault03" class="form-label fw-semibold"> توضیحات  :</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                            required></textarea>
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <div class="Name">
                                        <label for="validationDefault002" class="form-label fw-semibold"> دسته بندی  :</label>
                                        <input type="number" class="form-control" id="validationDefault002"
                                            placeholder="" value="" required>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="submit-button mt-4 text-center">
                            <button class="btn btn-primary" type="submit">ارسال</button>
                        </div>
                    </div>


                </div>
                <div class="request-image position-absolute top-0 start-0 p-0">
                    <img src="images/inner-image/submit-req.png" alt="" class="img-fluid">
                </div>

            </form>






{% endblock content %}