{%extends 'blog/base.html'%}
{% load static %}

{% block content %}



    <!-- start section -->
    <section class="artical section bg-light" style="margin-top: -50px;">
        <!-- start container -->
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb default mb-0">
                            <li class="breadcrumb-item">
                                <a href="index.html" class="text-muted">خانه</a>
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">هنری</li>
                        </ol>
                    </nav>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="blog-side-box mb-5 mb-lg-0">

                        <div class="items">
                            <h6 class="fw-bold mb-3">بروز بمانید</h6>
                            <hr>
                            <div class="title-bottom-border"></div>
                            <div class="categorie-box mt-4">
                                <p class="text-muetd mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>

                                <div class="forum mt-2">
                                    <form class="form">
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="ایمیل خود را وارد کنید">
                                    </form>
                                </div>

                                <div class="mt-4">
                                    <button class="btn btn-dark w-100">به ما بپیوندید!</button>
                                </div>
                            </div>
                        </div>


                        <div class="items mt-4">
                            <h6 class="fw-bold mb-3">متصل شویم</h6>
                            <hr>
                            <div class="title-bottom-border"></div>
                            <div class="categorie-box mt-4">
                                <div class="d-flex">
                                    <div class="you-tube">
                                        <div class="avatar-sm align-items-center bg-danger">
                                            <i class="mdi mdi-youtube f-30 text-white"></i>
                                        </div>
                                    </div>
                                    <div class="facebook mx-3">
                                        <div class="avatar-sm align-items-center bg-dark">
                                            <i class="mdi mdi-facebook f-30 text-white"></i>
                                        </div>
                                    </div>
                                    <div class="dribbble">
                                        <div class="avatar-sm align-items-center bg-pink">
                                            <i class="mdi mdi-instagram f-30 text-white"></i>
                                        </div>
                                    </div>
                                    <div class="facebook mx-3">
                                        <div class="avatar-sm align-items-center bg-blue">
                                            <i class="mdi mdi-twitter f-30 text-white"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="items mt-4">
                            <h6 class="fw-bold mb-3">دسته بندی ها</h6>
                            <hr>
                            <div class="title-bottom-border"></div>
                            <div class="categorie-box mt-4">
                                <div class="d-flex align-items-center">
                                    <h6 class="fw-semibold mb-0">عمومی</h6>
                                    <div class="ms-auto">
                                        <span
                                            class="badge rounded-pill shadow-sm text-dark py-2 px-3 f-18 fw-normal">425</span>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="d-flex align-items-center">
                                    <h6 class="fw-semibold mb-0">به روز رسانی NFT</h6>
                                    <div class="ms-auto">
                                        <span
                                            class="badge rounded-pill shadow-sm text-dark py-2 px-3 f-18 fw-normal">425</span>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="d-flex align-items-center">
                                    <h6 class="fw-semibold mb-0">بازار</h6>
                                    <div class="ms-auto">
                                        <span
                                            class="badge rounded-pill shadow-sm text-dark py-2 px-3 f-18 fw-normal">425</span>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="d-flex align-items-center">
                                    <h6 class="fw-semibold mb-0">بروزرسانی پلتفرم</h6>
                                    <div class="ms-auto">
                                        <span
                                            class="badge rounded-pill shadow-sm text-dark py-2 px-3 f-18 fw-normal">425</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="items mt-4">
                            <h6 class="fw-bold mb-3">تگ</h6>
                            <hr>
                            <div class="title-bottom-border"></div>
                            <div class="tag-box mt-4">
                                <span class="badge">#nft</span>
                                <span class="badge">#کار روزانه</span>
                                <span class="badge">#creabik</span>
                                <span class="badge">#btc</span>
                                <span class="badge">#نعنا</span>
                                <span class="badge">#ورشکسته</span>
                                <span class="badge">#ceo</span>
                                <span class="badge">#پست</span>
                                <span class="badge">#بروزرسانی</span>
                                <span class="badge">#بازار</span>
                                <span class="badge">#مزایای</span>
                                <span class="badge">#عالی</span>
                                <span class="badge">#vlogs</span>
                                <span class="badge">#crypto</span>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="col-lg-8">
                    <div class="artical-box">
                        <div class="artical-image">
                            <img src="images/inner-image/artical/img-1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="artical-title mt-4">
                            <h1 class="fw-bold display-5">به زودی NFT می آید: آیتم های منحصر به فرد خود را ایجاد و فروش کنید.</h1>
                        </div>

                        <div class="artical-content mt-5">
                            <div class="d-flex align-items-center">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avatar">
                                            <img src="images/inner-image/user/img-2.jpg" alt=""
                                                class="img-fluid avatar-md rounded-circle">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="mb-0 fw-bold">گیل هیکس</h6>
                                        <p class="mb-0 text-muted">نویسنده</p>
                                    </div>
                                </div>
                                <div class="date ms-auto">
                                    <h6 class="mb-0 fw-bold text-muted">05 آذر</h6>
                                </div>
                            </div>

                            <p class="mt-4 text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته <span class="fw-bold">بیشتر یا کمتر نرمال</span>distribution of
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>

                            <p class="mt-4 text-muted">حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

                            <p class="mt-4 text-muted">حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری</p>

                            <h4 class="mt-4 fw-bold">از کجا آمده است؟</h4>

                            <p class="text-muted mt-4">لورم ایپسوم متن ساختگی با تولید سادگی که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص  که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.. </p>

                            <h4 class="mt-4 fw-bold">هنر / خلاقیت</h4>

                            <p class="text-muted mt-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.  تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام وو جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

                        </div>





                        
                    </div>

                    <!-- <div class="comment-box mt-5">

                        <h4 class="fw-bold">نظر</h4>
                        <div class="Comment-box-item">
                            <div class="comment-item mt-4">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <div class="avatar">
                                                <img src="images/inner-image/user/img-3.jpg" alt=""
                                                    class="img-fluid avatar-md rounded-circle">
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-2">
                                            <h6 class="mb-0">نیکو بیرامی</h6>
                                        </div>
                                    </div>
                                    <div class="time ms-auto">
                                        <h6>10 دقیقه ی قبل</h6>
                                    </div>
                                </div>

                                <div class="message-box mt-4">
                                    <p class="text-muted mb-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. .</p>
                                    <a href="" class="text-blue">پاسخ</a>
                                </div>




                                
                            </div>


                        

                        </div>






                        


                        

                        

                    </div> -->



                    


                </div>

            </div>

        </div>
        <!-- end container -->
    </section>





{% endblock content%}