{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>حلی نت</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" "/>
    <meta name="keywords" content=""/>
    <meta content="Pichforest" name="author"/>


    <link rel="shortcut icon" href="{% static 'images/logo_dark.png' %}">


    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" id="bootstrap-style"/>

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}" type="text/css"/>

    <!-- Unicon Css -->
    <link rel="stylesheet" href="{% static 'css/line.css' %}"/>

    <!-- Swiper Css -->
    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}" type="text/css"/>

    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/rtl.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/font.css' %}" type="text/css"/>

</head>

<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="71" data-layout-mode="dark">

<!-- light-dark mode button -->
<a href="javascript: void(0);" id="mode" class="mode-btn text-white rounded-end">
    <i class="uil uil-brightness mode-dark mx-auto"></i>
    <i class="uil uil-moon bx-spin mode-light"></i>
</a>


<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
        <div class="container-fluid custom-container">
            <a class="navbar-brand logo f-30 text-dark fw-bold" href="index.html">
                <img src="{% static 'images/logo.png'%}" class="logo-dark" alt="" height="80"><span style="margin: 5px"  class="logo-dark">حلّی‌نـت</span>
            <img src="{% static 'images/logo_dark.png'%}"  class="logo-light" alt="" height="80"><span  style="margin: 5px" class="logo-light">حلّی‌نـت</span>
            </a>
            <div>
                <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto navbar-center">

                    <li class="nav-item">
                        <a href="/" class="nav-link" style="font-size: 16px">صفحه اصلی</a>
                    </li>
                    <!--end dropdown-->


                    <li class="nav-item">
                        <a href="/blog" class="nav-link" style="font-size: 16px">مقالات</a>
                    </li>

                    <li class="nav-item">
                        <a href="/about-us" class="nav-link" style="font-size: 16px">درباره ما</a>
                    </li>
                    <!--end dropdown-->
                </ul>
                <!--end navbar-nav-->
                <a href="/search" class="btn btn-primary" style="font-size: 16px">جستجو</a>

            </div>

        </div>
        <!--end container-->
    </nav>
    <!-- Navbar End -->




{% block content %}
{% endblock %}





<!-- start footer -->
<section class="footer">
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-info mt-4">

                        <a class="logo f-30 text-dark fw-bold" href="http://127.0.0.1:8000">
                            <img src="{% static 'images/logo.png'%}" class="logo-dark" alt="" height="50"><span class="logo-dark" style="margin: 5px"> حلّی‌نـت</span>
                            <img src="{% static 'images/logo_dark.png'%}" class="logo-light" alt="" height="50"><span class="logo-light" style="color: white!important;margin: 5px"> حلّی‌نـت</span>
                        </a>
                        <p class="f-18 mt-2 text-muted">راه رفتن روی لبه تکنولوژی
                            ...</p>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="mt-4">
                                <h5 class="f-18 fw-bold">صفحات</h5>
                                <ul class="list-unstyled footer-link mt-3">
                                    <li><a href="http://127.0.0.1:8000/blog">وبلاگ</a></li>
                                    <li><a href="">درباره ما</a></li>
                                    <li><a href="">تماس با ما</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="mt-4 pl-0 pl-lg-4">
                        <h5 class="f-18 fw-bold">ما را دنبال کنید</h5>
                        <ul class="list-inline social-icons-list pt-3">
                            <li class="list-inline-item">
                                <a href="https://telegram.me/Ali_Azimi177"><i class="mdi mdi-telegram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/aliazimi177"><i class="mdi mdi-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <hr>

        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p class="my-4 text-muted">کلیه حقوق این سایت متعلق به <a style="color: #FC7300!important;" href="/">حلّی‌نـت</a>
                        می‌باشد.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end footer -->






<!--Bootstrap Js-->
<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

<!-- Swiper Js -->
<script src="{% static 'js/tiny-slider.js'%}"></script>

<!-- counter -->
<script src="{% static 'js/counter.init.js'%}"></script>

<!-- App Js -->
<script src="{% static 'js/app.js'%}"></script>




</body>

</html>
