{% extends 'blog/base.html' %}
{% load static %}

{% block content %}


    <br><br>
    <section class=" home-3 section" id="home" >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="home-content text-start">
                        <div class="title home-heading">
                            <h1 class="fw-bold">مجله آموزشی حلّـی‌نـت</h1>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی</p>
{#                            <button class="btn btn-dark rounded" >">شروع کردن<i class="mdi mdi-arrow-top-right align-middle"></i></button>#}
                        </div>
                        <div class="mt-5 border-bottom"></div>
                        <br>
                    </div>
                </div>

                <div class="col-lg-4 offset-lg-2" style="border-radius: 15px!important;">
                    <div class="card" >
                        <img src="{{ post.image}}" style="border-radius: 15px 15px 2px 2px  !important;" alt="img" class="img-fluid">
                        <div class="card-body px-5 py-4" style="border-radius: 2px 2px 15px 15px !important;">
                            <h2 class="mb-0 fw-bold text-center">{{ post.title}}</h2>
                            <div class="deatil my-2">
                                <p class="fw-bold mb-0 f-14 text-center">{{ post.body}} </p>
                                <br>
                                <div class="d-flex">
                                    <p class="f-14 fw-bold mb-0 "><i
                                                class="mdi mdi-pen f-18 text-dark me-2 align-middle"></i>{{ post.author}}</p>
                                </div>
                            </div>
                            <br>
                            <div class=" text-center" >
                                <a  href="{{post.get_absolute_url}}" style="z-index:1000" class="btn btn-outline-dark ms-2 rounded">ادامه مطلب</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- cta section -->
    <section class="section cta-2" style="margin-bottom: -5em;margin-top: -10em;">
        <div class="container">
            <div class="cta-box">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="cta-content" style="@media only screen and (max-width: 479px)  {
                                    font-size: 60px;

                                    }">
                            <h1 class="text-white">آموزش پروژه‌ محور <br><span>بـرنامـه ‌نویسـی</span>
                                وب</h1>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cta-image">
                            <img src="images/programmer2.png" width="70%" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end cta -->


{#    <div class="row">#}
{#        <div class="col-lg-6">#}
{#            <h2 class="fw-bold">          ‌ ‌  ‌آرشیو مطالب وبلاگ</h2>#}
{#            <p class="text-muted">        ‌   ‌   ‌   ‌   ‌  مجله اموزشی حلی نت </p>#}
{#        </div>#}
{#    </div>#}
    <section class=" blog-4" style="padding-bottom: 20px;border-radius: 20px">
        <!-- start container -->
        <div class="container position-relative">
            <div class="row">
                {% for post_1 in posts %}
                    <div class="col-lg-4 mt-4">
                        <div class="tab-content p-4 border-0">
                            <div class="card-image mt-2 position-relative">
                                <a href="http://127.0.0.1:8001/articles/3" target="_blank"><img
                                        src="{{ post_1.image }}" alt=""
                                        class="img-fluid"></a>
                                <div class="position-absolute top-0 end-0 me-3 mt-3">
                                <span class="badge rounded-pill bg-white text-dark" title="زمان مطالعه">
                                    <i class="mdi mdi-clock text-primary align-middle f-16"></i> {{ post_1.reading_time }} دقیقه
                                </span>
                                </div>
                            </div>
                            <div class="body-content mt-3">

                                <h5 id="singlePost" onclick="location.replace('http://127.0.0.1:8001/articles/3')"
                                    style="cursor: pointer" class="fw-bold">{{ post_1.title }}</h5>
                                <div class="d-flex">
                                    <h6 class="text-muted">{{ post_1.body }}</h6>
                                </div>
                                <br>
                                <h6 title="دسته بندی" style="direction: ltr;"><i
                                        class="mdi mdi-database text-primary"></i> {{ post_1.category }}
                                </h6>
                                <hr>
                                <div class="d-flex mt-3 align-items-center">
                                    <div class="history f-15">
                                        <h6 title="نویسنده" class="f-14"><i
                                                class="mdi mdi-pen f-18 text-primary me-2 align-middle"></i>{{ post_1.author }}

                                        </h6>
                                    </div>
                                    <div class="bid-button ms-auto">


                                        <a class="btn btn-sm btn-primary rounded-pill"
                                           href="{{ post_1.get_absolute_url }}">مشاهده</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
            <!-- end container -->
        </div>
    </section>
    <!-- end slider-blog -->

    <!-- end home -->





{% endblock %}