{% extends 'blog/base.html' %}
{% load static %}

{% block content %}



    <!-- start home -->

    <!-- start cta -->

    <section class="cta section " style="margin-top: 80px;">
        <!-- start container -->
        <div class="container">
            <div class="row align-items-center justify-content-start">
                <div class="col-lg-6">
                    <h1 class="text-white display-5 fw-bold">مقالات بروز دنیای تکنولوژی</h1>
                    <p class="text-light f-16 mt-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                        استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                        و برای شرایط فعلی تکنولوژی</p>
                    <a href="#collections" class="btn btn-primary mt-3">مشاهده مطالب</a>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <img src="images/virtual.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
    <!-- end cta -->



    <!-- start slider-blog -->
    <section class=" blog-slider slider4 section bg-light" id="collections">
        <!-- start container -->
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="fw-bold">آخرین مطالب وبلاگ</h2>
                    <p class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                        شرایط فعلی تکنولوژی</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="client-slider position-relative mt-5">
                        <div class="item">
                            <div class="card">
                                <div class="blog-slider-image position-relative">
                                    <img src="/{{ post.image }}" alt="" class="img-fluid">
                                </div>
                                <div class="mt-3">
                                    <h5 class="fw-bold">{{ post.title }}</h5>

                                    <div class="d-flex align-items-center justify-content-start mt-3">
                                        <div>
                                            <h6 class="mb-0 ms-2 text-muted">{{ post.body }}</h6>
                                        </div>
                                    </div>
                                    <hr class="my-3">

                                    <div class="blog-slider-footer">
                                        <h6 class="f-14"><i
                                                class="mdi mdi-pen f-18 text-primary me-2 align-middle"></i>{{ post.author }}
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- cta section -->
            <section class="section cta-2" style="margin-top: 60px">
                <div class="container">
                    <div class="cta-box">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="cta-content" style="@media only screen and (max-width: 479px)  {
                                    font-size: 60px;

                                    }">
                                    <h1 class="text-white">آموزش پروژه‌ محور <br><span>بـرنامـه ‌نویسـی</span>
                                        وب</h1>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="cta-image">
                                    <img src="images/programmer2.png" width="70%" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end cta -->


            <div class="row">
                <div class="col-lg-6">
                    <h2 class="fw-bold">آرشیو مطالب وبلاگ</h2>
                    <p class="text-muted">مجله اموزشی حلی نت </p>
                </div>
            </div>
            <section class=" blog-4" style="padding-bottom: 20px;border-radius: 20px">
                <!-- start container -->
                <div class="container position-relative">
                    <div class="row">
                        {% for post_1 in posts %}
                        <div class="col-lg-4 mt-4">
                            <div class="tab-content p-4 border-0">
                                <div class="card-image mt-2 position-relative">
                                    <a href="http://127.0.0.1:8001/articles/3" target="_blank"><img
                                            src="{{post_1.image}}" alt=""
                                            class="img-fluid"></a>
                                    <div class="position-absolute top-0 end-0 me-3 mt-3">
                                <span class="badge rounded-pill bg-white text-dark" title="زمان مطالعه">
                                    <i class="mdi mdi-clock text-primary align-middle f-16"></i> {{post_1.reading_time}} دقیقه 
                                </span>
                                    </div>
                                </div>
                                <div class="body-content mt-3">

                                    <h5 id="singlePost" onclick="location.replace('http://127.0.0.1:8001/articles/3')"
                                        style="cursor: pointer" class="fw-bold">{{post_1.title}}</h5>
                                    <div class="d-flex">
                                        <h6 class="text-muted">{{post_1.body}}</h6>
                                    </div>
                                    <br>
                                    <h6 title="دسته بندی" style="direction: ltr;"><i
                                            class="mdi mdi-database text-primary"></i> {{post_1.category}}
                                    </h6>
                                    <hr>
                                    <div class="d-flex mt-3 align-items-center">
                                        <div class="history f-15">
                                            <h6 title="نویسنده" class="f-14"><i
                                                    class="mdi mdi-pen f-18 text-primary me-2 align-middle"></i>{{post_1.author}}
                                                
                                            </h6>
                                        </div>
                                        <div class="bid-button ms-auto">


                                            <a class="btn btn-sm btn-primary rounded-pill"
                                               href="{{post_1.get_absolute_url}}">مشاهده</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        


                </div>
                <!-- end container -->
            </section>
            <!-- end slider-blog -->

            <!-- end home -->






{% endblock %}