{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="home-content-2 home-heading text-start" style="margin-top: 150px;text-align: center!important;">
        <h1 class="fw-bold">لذت ببر از<span class="text-primary"> زنده </span>حراج با NFT</h1>
        <form class="search-form" style="margin-top: 20px;margin-bottom: 20px;" method="post">
            {% csrf_token %}
            <div class="">
                <center>
                    <div class="col-sm-4">
                        <input type="text" class="form-control " id="inputPassword" placeholder="جستجو در اینجا ...">
                        <div class=""><br>
                            <button type="submit" href="" class="btn btn-success" >جستجو <i class="mdi mdi-magnify"></i></button>
                        </div>
                    </div>
                </center>
            </div>
        </form>
    </div>
{% endblock content %}